<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- Post Content -->
<article layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"
                 th:object="${post}">
                <div class="post-title"><strong
                        th:text="*{title}">title</strong>
                </div>
                <div>
                    <a th:href="@{#}" th:text="*{writer}">작성자</a>
                </div>
                <hr>
                <textarea class="col-md-10" readonly
                          th:text="*{content}">content</textarea>
            </div>
        </div>
    </div>
</article>

</html>

