<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe nostrum ullam
                eveniet pariatur voluptates odit, fuga atque
                ea nobis sit soluta odio, adipisci quas
                excepturi maxime quae totam ducimus
                consectetur?</p>
        </div>
    </div>
</div>

</html>
