<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- Main Content -->
<div class="container" layout:fragment="content">
    <form id="searchArea" action="/search" method="get"
          class="col-md-auto">
        <select th:name="searchType">
            <option th:value=0>제목+내용</option>
            <option th:value=1>제목</option>
            <option th:value=2>내용</option>
        </select>
        <input type="search" name="searchKeyword">
        <button id="searchBtn">search</button>
    </form>
    <div class="row" th:if="${!resultList.isEmpty()}">
        <div class="col-lg-8 col-md-10 mx-auto">
            <th:block
                    th:each="post : ${resultList.content}">
                <div class="post-preview"
                     th:object="${post}">
                    <a th:href="@{/post/postView/{postId}(postId=*{postId})}">
                        <h2 class="post-title"
                            th:name="title"
                            th:text="*{title}">
                        </h2>
                        <h3 class="post-subtitle">
                            부제
                        </h3>
                    </a>
                    <p class="post-meta" th:text="|Post by *{createdAt}|">Posted by
                        <a href="#">Start jjy.com</a>
                        </p>
                </div>
                <hr>
            </th:block>

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-left"
                   th:href="@{/(page=${resultList.number}-1)}">&larr;
                    이전</a>
                <a class="btn btn-primary float-right"
                   th:href="@{/(page=${resultList.number}+1)}">다음
                    &rarr;</a>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script">
    let searchBtn = document.getElementById("searchBtn");
    searchBtn.click(function () {
        document.getElementById("searchArea").onsubmit();
    })
</script>
</html>
